name: install

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  static:
    name: ubuntu-22.04
    runs-on: ubuntu-24.04
    steps:
      - name: install-dependencies
        run: sudo apt install ninja-build libboost-dev libboost-program-options-dev nlohmann-json3-dev libabsl-dev
      - uses: actions/checkout@v4
      - name: configure
        run: >
          cmake -S . -B ${{runner.temp}}/build -GNinja -DBUILD_TESTING=OFF
          -DCMAKE_INSTALL_PREFIX=${{runner.temp}}/staging
      - name: build
        run: cmake --build ${{runner.temp}}/build
      - name: install
        run: cmake --build ${{runner.temp}}/build --target install
      - name: test-configure
        run: >
          cmake -S ci/test_install -B "${{runner.temp}}/test_install/build" -GNinja
          -DCMAKE_PREFIX_PATH="${{runner.temp}}/staging"
      - name: test-build
        run: cmake --build "${{runner.temp}}/test_install/build"
      - name: test
        run: "${{runner.temp}}/test_install/build/test_install"

  shared:
    name: ubuntu-22.04-shared
    runs-on: ubuntu-24.04
    steps:
      - name: install-dependencies
        run: >
          sudo apt install ninja-build libboost-dev libboost-program-options-dev nlohmann-json3-dev libabsl-dev
      - uses: actions/checkout@v4
      - name: configure
        run: >
          cmake -S . -B ${{runner.temp}}/build -GNinja
          -DBUILD_TESTING=OFF -DBUILD_SHARED_LIBS=ON
          -DCMAKE_INSTALL_PREFIX=${{runner.temp}}/staging
      - name: build
        run: cmake --build ${{runner.temp}}/build
      - name: install
        run: cmake --build ${{runner.temp}}/build --target install
      - name: test-configure
        run: >
          cmake -S ci/test_install -B "${{runner.temp}}/test_install/build" -GNinja
          -DCMAKE_PREFIX_PATH="${{runner.temp}}/staging"
      - name: test-build
        run: cmake --build "${{runner.temp}}/test_install/build"
      - name: test
        run: "${{runner.temp}}/test_install/build/test_install"
