name: C++ Lint CI

on:
  push:
    branches: [ main ]
  pull_request:

env:
  vcpkg_SHA: "2024.09.30"

jobs:
  clang-format:
    name: clang-format
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: clang-format
        run: >
          git ls-files -z -- '*.h' '*.cc' |
          xargs -P 2 -n 50 -0 clang-format-14 -i
      - name: check-diff
        run: git diff --ignore-submodules=all --color --exit-code .

  cmake-format:
    name: cmake-format
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: install cmake-format
        run: pip install cmakelang==0.6.13
      - name: cmake-format
        run: >
          git ls-files -z -- '*.cmake' '**/CMakeLists.txt' CMakeLists.txt |
          xargs -P 2 -n 1 -0 /home/runner/.local/bin/cmake-format -i
      - name: check-diff
        run: git diff --ignore-submodules=all --color --exit-code .

  generated-files:
    name: generated-files
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: install ninja
        run: sudo apt install moreutils
      - name: regenerate-build-examples
        run: >
          ./ci/generate-build-examples.sh >ci/build-examples.yaml
      - name: update-markdown-code-snippets
        run: >
          ./ci/update-markdown-code-snippets.sh
      - name: check-diff
        run: git diff --ignore-submodules=all --color --exit-code .
